<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">  
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>MCU Proto</title>
    <script>
      var websocket = new WebSocket('ws://' + location.host + '/ws');
      websocket.onopen    = function (evt) { 
        document.getElementById('status').innerHTML = "Connected to WebSocket server."; 
        websocket.send('browser_connected'); };
      websocket.onclose   = function (evt) { document.getElementById('status').innerHTML =  "Disconnected"; };
      websocket.onmessage = function (evt) { document.getElementById('status').innerHTML = evt.data; };
      websocket.onerror   = function (evt) { document.getElementById('status').innerHTML = 'Error occured: ' + evt.data; };
    </script>
  </head>
  <body>
    <h1>Accelerate Your Next Connected Device Prototype</h1>
    {% if auth %}
    <p><a href="index">Control</a> | Manage</p>
    {% else %}
    <p>Control | <a href="auth">Manage</a></p>
    {% endif %}
    
    <div class="device_table"><table>
      <tr>
        <td>Device</td>
        <td>IDE</td>
        {% if auth %}
        <td>Status</td>
        <td>Toggle</td>
        {% endif %}
        <td>Off</td>
        <td>On</td>
      </tr>
      
      {% for name, device in devices.items() %}
      <tr>
      <td class="device_name">{{device['name']}}</td>
      <td><a href="{{device['ide_url']}}"  target="_blank">{{device['ide_name']}}</a</td>
      {% if auth %}
      <td>{{device['permission']}}</td>
      <td>
        <form method='GET' action="auth">
          <input type='hidden' name='device' value='{{name}}'>
          <input type='submit' value='toggle'>
        </form>
      </td>
      {% endif %}
      <td>
        <form method='GET' action="control" target="response_frame">
          <input type='hidden' name='device' value="{{name}}">
          <input type='hidden' name='action' value='OFF'>
          <input type='submit' value='Off'>
        </form>
      </td>
      <td>
        <form method='GET' action="control" target="response_frame">
          <input type='hidden' name='device' value="{{name}}">
          <input type='hidden' name='action' value='ON'>
          <input type='submit' value='On'>
        </form>
      </td>
      
      </tr>
      {% endfor %}
    
    </table></div>
    
    <div>
    <p id="status">{{status}}</p>
    <iframe name="response_frame" class="response_frame"></iframe>
    </div>

  </body>
</html>